/* * {
  border-color: red;
  border-width: 1px;
  border-style: solid;
} */
header {
  text-align: center;
  width: 100%;
  margin: auto;
}

nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
nav li:hover {
  text-decoration: underline;
  text-decoration-color:#ec0b8c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  color: #707070;
  display: inline-block;
  vertical-align: text-top;
  padding: 1%;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.bodyText {
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin: 10%;
  /* padding-left: 25px;
  padding-right: 25px; */
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.buttonSmall {
  width: 300px;
  height: 45px;
  object-fit: contain;
}

.headline {
  width: 620px;
  height: 127px;
  margin: 224.2px 227px 52px 111px;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.subheadline {
  width: 620px;
  height: 127px;
  margin: 224.2px 227px 52px 111px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

/* #cards{
  display: flex;
  align-items:center;
  margin-left: 5%;
  justify-content:space-between;
  text-align: center;
  width: 100%;
  color: #707070;
} */
.fetch{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 70px;
}
.fetch .left{
  float: left;
  margin-left: 10%;
  padding: 40px;
}
.fetch .right{
  float:right;
  margin-right: 10%;
  padding: 40px;
}
.usda{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 70px;
}
.usda .left{
  float: left;
  margin-left: 10%;
  padding: 40px;
}
.usda .right{
  float:right;
  margin-right: 10%;
}
.tvf{
  display: inline-block;
  width: 100%;
  text-align: center;
  padding-bottom: 70px;
}
.tvf .left{
  float: left;
  margin-left: 10%;
}
.tvf .right{
  float:right;
  margin-right: 10%;
}
.cardH2 {
  justify-content:left;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 10px;
  letter-spacing: normal;
  color: #707070;
}
.cardH4 {
  justify-content: left;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 5px;
  letter-spacing: normal;
  color: #707070;
}
.CardBodyText {
  justify-content: left;
  margin: 10%;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  color: #707070;
}
.fetchImage {
  width: 500px;
}

#footer {
  display: inline-block;
  /* align-items:center;
  justify-content:center;
  text-align: center; */
  width: 100%;
  color: #707070;
  background-color:#FCF1FC;

}

.footerMenu {
  float: left;
  padding-left: 100px;
  padding-top: 20px;
  justify-content: start;
  padding-left: 100px;
  width: 50px;
  height: 15px;
  margin: 32px 32px 32px 0;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.contact {
  float: right;
  padding-right: 100px;
  align-items: center;
  justify-content: center;
  padding-right: 100px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.email {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.phone{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.copyRight{
    clear: left;
    text-align: center;
    padding: 20px;
    padding-top: 80px;
    vertical-align: bottom;
    /* align-items:flex-end;
    justify-content: center; */
    font-family: Montserrat;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    /* text-align: left; */
    color: #707070;
}

.linkedin{
  width: 150px;
  height: px;
}

