
header {
  text-align: center;
  width: 100%;
  margin: auto;
}

nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
nav li:hover {
  text-decoration: underline;
  text-decoration-color:#ec0b8c;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer {
  position: fixed;
  text-align: center;
  margin: auto;
  width: 100%;
  color: #707070;
  background-color:#fff7ff;

}

.navbar {
  color: #707070;
  display: inline-block;
  vertical-align: text-top;
  padding: 1%;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.bodyText {
  height: 600px;
  padding-left: 25px;
  padding-right: 25px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.buttonSmall {
  width: 300px;
  height: 45px;
  object-fit: contain;
}

.headline {
  width: 620px;
  height: 127px;
  margin: 224.2px 227px 52px 111px;
  font-family: Montserrat;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.subheadline {
  width: 620px;
  height: 127px;
  margin: 224.2px 227px 52px 111px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.77;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.emphasis {
  color: aqua;
  font-weight: 600;
  font-size: 32px;
} 

.footerMenu {
  float: left;
  padding-left: 100px;
  width: 50px;
  height: 15px;
  margin: 32px 32px 32px 0;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.contact {
  float: right;
  padding-right: 100px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.webAddress {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.contactNumber{
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #707070;
}

.Icon-awesome-linkedin {
  
  background-color: #707070;
}

#copyRight{
  
    font-family: Montserrat;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}

