/* * {
  border-color: red;
  border-width: 1px;
  border-style: solid;
} */

* {
  font-family: Montserrat, sans-serif;
}

header {
  text-align: center;
  width: 100%;
  margin: auto;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  color:  #4d4d4d;
}

h4 {
  font-size: 20px;
  font-weight: bold;
  color: #4d4d4d;
  padding-bottom: 30px;
}

#links {
  display:block;
}

.bodyText {
  display: flexbox;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: 10%;
  margin-right: 10%;
  min-height: auto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
}

.basicText {
  display: flexbox;
  align-items: left;
  justify-content: left;
  margin-bottom: 15%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: auto;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.btn-outline-primary{
  margin-top: 30px;
  color:#eb42a2;
  border-color: #eb42a2;
}

.btn-outline-primary:hover{
  background-color: #eb42a2;
  border-color:#eb42a2;
  color:#ffffff;
}

#cards{
  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
  text-align: center;  
  display: grid;
  justify-content: center;
  grid-template-rows: auto ;
  /* grid-template-columns: 1fr; */
  grid-row-gap: 100px;
  grid-template-areas:
  "card-fetch" 
  "card-usda"
  "card-tvf";
} 

#fetch-cards{
    /* border-color: red;
  border-width: 1px;
  border-style: solid; */
  text-align: center;  
  display: grid;
  justify-content: center;
  grid-template-rows: auto ;
  /* grid-template-columns: 1fr; */
  grid-row-gap: 100px;
  grid-template-areas:
  "intro" 
  "persona"
  "journey"
  "card-sorting"
  "sketches"
  "wireframes"
  "user-testing"
  "hi-fi-prototype"
  "conclusion";
}

#card-fetch {
  grid-area: card-fetch;
}

.card{
  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
  display: inline-block;
  border-color: none;
  border-style: none;
  align-items: center;
  align-content: center;
  width: 800px;
}

.card img {
  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
  width: 400px;
}

.card .icon{
  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
  width: 200px;
  vertical-align: center;
  align-content: center;


}

.case-study-image {
  
}

.case-study-text {
  width: 45%;
}

.left{
  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
  float: left;
  text-align: left;

}

.right{
  /* border-color: red;
  border-width: 1px;
  border-style: solid; */
  float:right;
  text-align: left;
}



#footer {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #707070;
  background-color:#FCF1FC;
  padding-top:50px;
  margin-top:50px;

}

.footerMenu {
  float: left;
  padding-left: 100px;
  padding-top: 20px;
  justify-content: start;
  padding-left: 100px;
  width: 50px;
  height: 15px;
  margin: 32px 32px 32px 0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: left;
  color: #707070;
}

.contact {
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color:#4d4d4d;
}

.email {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
}

.email:hover{
  color: #eb42a2;
}

.phone{
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: normal;
  text-align: center;
  color: #4d4d4d;
}

.copyRight{
  text-align: center;
  padding: 20px;
  padding-top: 80px;
  vertical-align: bottom;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  color: #707070;
}

.linkedin{
  width: 150px;
  height: px;
}


@media all and (min-width: 600px) {
  #hamburger{
    display: none;
  }

  #links {
    display: block;
  }

  .amLogo{
    width: 80%;
    max-width: 800px;
    align-content: center;
    margin-top: 100px;
  }

  .topnav a {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    text-decoration: none;
    color: #707070;

  }
  .topnav a:hover {
    text-decoration: underline;
    text-decoration-color:#ec0b8c;
  }

  .topnav {
    /* display: inline-block; */
    vertical-align: text-top;
    padding: 1%;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.23;
    letter-spacing: normal;
    text-align: center;
    color: #707070;
  }
  
  .topnav {
    display: inline-block;
  }

}

@media only screen and (max-width: 600px) { 

  .amLogo{
    width: 80%;
  }

  .topnav {
    overflow: hidden;
    position: relative;
  }

  .topnav #links {
    display: none;
  }

  .topnav a{
    color: #707070;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav a.icon {
    background: white;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav a:hover {
    background-color: #FCF1FC;
    color: #707070;
  }

  .active {
    background-color: #FCF1FC;
    color: white;
  }

  .cardBodyText{
    text-align: center;
    justify-content: center;
    align-items: center;

  }

  .card {
    width: 100%;
    text-align: center;
    justify-content: center;
  }

  .left {
    float: none;
    width: 100%;
  }

  .right {
    float:none;
    width: 100%;
  }

  .case-study-text {
    width: 100%;
    text-align: center;
  }

  .case-study-image {
    text-align: center;
    padding-bottom: 20px;
  }

  .btn-primary{
    align-items: center;
  }

  #cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "card-fetch"
      "card-usda"
      "card-tvf";
  }

  #fetch-cards{
    display: grid;
    grid-template-rows: auto ;
    grid-template-columns: 1fr;
    grid-template-areas:
      "intro" 
      "persona"
      "journey"
      "card-sorting"
      "sketches"
      "wireframes"
      "user-testing"
      "hi-fi-prototype"
      "conclusion";
  }
} 